:root {
	/* Colors */
	--color-primary: #140F50;
	--color-primary-blue: #2447F5;
	--color-primary-blue-hover: #1a36c4;
	--color-white: #FFF;
	--color-text: #4C4C4C;
	--color-text-muted: #9FA1A4;
	--color-border: #E7E7E7;
	--color-bg-light: #F3F3F6;
	--color-bg-footer: #140F50;
	--color-bg-overlay: rgba(255, 255, 255, 0.10);
	

		
	/* Font Sizes */
	--font-xs: 14px;
	--font-sm: 16px;
	--font-md: 18px;
	--font-lg: 20px;
	--font-xl: 24px;
	--font-2xl: 32px;
	--font-3xl: 40px;
	--font-hero: 68px;
	
	/* Line Heights */
	--line-xs: 22px;
	--line-sm: 26px;
	--line-md: 28px;
	--line-lg: 32px;
	--line-xl: 40px;
	--line-2xl: 48px;
	--line-hero: 76px;
	
	/* Font Weights */
	--font-regular: 400;
	--font-semibold: 600;
	--font-bold: 700;
	
	/* Border Radius */
	--radius-sm: 8px;
	--radius-md: 12px;
	--radius-lg: 16px;
	--radius-lgg: 108px;	
	--radius-full: 128px;
	
	/* Spacing */
	--space-xs: 4px;
	--space-sm: 8px;
	--space-md: 12px;
	--space-lg: 16px;
	--space-xl: 20px;
	--space-2xl: 24px;
	--space-3x1: 30px;
	--space-3xl: 32px;
	--space-4xl: 40px;
	--space-5xl: 60px;
	--space-6xl: 80px;
	--space-7xl: 100px;
	
	/* Transitions */
	--transition-base: all 0.3s ease;
	--transition-slow: all 0.5s ease;
	
	/* Shadows */
	--shadow-sm: 0 2px 12px rgba(0, 0, 0, 0.08);
	--shadow-md: 0 8px 24px rgba(0, 0, 0, 0.12);
	--shadow-primary: 0 8px 20px rgba(27, 68, 255, 0.3);
}

/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face {
    font-family: 'National 2 Condensed';
    src: url('../fonts/national-2-condensed-bold.woff2') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Serif';
    src: url('../fonts/RobotoSerif-VariableFont_GRAD,opsz,wdth,wght.ttf') format('truetype');
    font-display: swap;
}

body {
	font-family: 'Roboto Serif';
	background-color: var(--color-white);
}

a {
	text-decoration: none;
	color: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "National 2 Condensed";
}

ul, li {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
}


/* Global */
h3 {
	color: var(--color-primary);
    font-size: var(--font-3xl);
    line-height: var(--line-2xl);
    font-weight: var(--font-bold);

}

.aps-subtitle {
	font-size: var(--font-md);
    font-weight: var(--font-regular);
    line-height: var(--line-md);
    color: var(--color-text);
}
.aps-text_medium {
    color: var(--color-text);
    font-size: var(--font-sm);
    font-weight: var(--font-regular);
    line-height: var(--line-sm);
}
/*  APS CONTAINER - */

.aps-container {
	max-width: 1290px;
	margin: 0 auto;
	width: 100%;
	
}
