/* APS  SECTION  */

/* Hero Section Container */
.aps-hero {
    margin-top: var(--space-7xl);
	background-image: url('../image/hero.jpg');
    background-repeat: no-repeat;
	background-size: cover;
	height: 573px;
	display: flex;
	align-items: center;
    background-position: center center;
    width: 100%;
    position: relative;
    max-width: 100%;
}

.aps-hero__title{
    max-width: 400px;
	font-size: var(--font-hero);
	font-weight: var(--font-bold);
	color: var(--color-white);
	line-height: var(--line-hero);
    
}



/* Hero Inner Content  */
.aps-hero__inner {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--space-4xl);
    

}
/* Hero Button */
.aps-btn--hero {
	padding: var(--space-lg) var(--space-3xl);
	font-size: var(--font-sm);
	font-weight: var(--font-semibold);
	color: var(--color-primary);
	background-color: var(--color-white);
	border-radius: var(--radius-md);
	transition: var(--transition-base);
}

.aps-btn--hero:hover {
	transform: translateY(-3px);
	box-shadow: var(--shadow-primary);
}

.aps-btn {
	text-decoration: none;
}




/* Section Cards */

.aps-section--cards {
	padding-top: var(--space-7xl);
	padding-bottom: var(--space-7xl);
  
}

.aps-section--cards .aps-container {
    display: flex;
    flex-direction: column;

}
.aps-section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.aps-section__subtitle {
	padding-left: 2px;
	font-size: var(--font-md);
	font-weight: var(--font-regular);
	line-height: var(--line-md);
	color: var(--color-text);
	
}
.aps-btn--ghost {
     display: inline-flex;
    align-items: center;
    gap: var(--space-sm);
	padding: var(--space-lg) var(--space-xl);
	line-height: var(--line-xs);
	font-size: var(--font-xs);
	font-weight: var(--font-semibold);
	color: var(--color-primary);
	background-color: var(--color-white);
	border-radius: var(--radius-md);
	transition: var(--transition-base);
	 border: 1px solid var(--color-primary-blue);
}
.aps-btn--ghost:hover {
	transform: translateY(-3px);
	box-shadow: var(--shadow-primary);
}
/* Individual Card Styles */
.aps-cards {
    position: relative;
    width: 100%;
    cursor: grab;
    user-select: none;
    overflow: hidden;
    padding: var(--space-4xl) 0;
    
}
.aps-cards:active {
    cursor: grabbing;
}
.aps-cards-inner {
    display: flex;
    gap: 30px;
    justify-content:  flex-start;
    flex-wrap: nowrap;
	transition: var(--transition-slow);
}
.aps_card {
    width: 410px;
    height: 525px;
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-sm);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
	 flex-shrink: 0;
}

.aps_card:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow-md);
}
.aps_card__img {
    border-radius: var(--radius-sm) var(--radius-sm) 0 0;
    width: 100%;
    height: 260px;
    object-fit: cover;
    display: block;
}

.aps_card__body {
    padding: var(--space-xl);
    display: flex;
    flex-direction: column;
}

.aps_card__meta {
    display: flex;
    color: var(--color-text);
    font-size: var(--font-xs);
    font-style: normal;
    font-weight: var(--font-regular);
    line-height: var(--line-xs);
    margin-bottom: var(--space-xs);
}
.aps_card__meta > img{
    margin-right: var(--space-xs);
}
.aps_card__title {
    font-size: var(--font-xl);
    font-style: normal;
    font-weight: var(--font-bold);
    line-height: var(--line-lg);
    margin: 0 0 var(--space-md) 0;
    color: var(--color-primary);
}

.aps_card__captionA {
    color: var(--color-text);
    font-size: var(--font-xs);
    line-height: var(--line-xs);
    margin-bottom: var(--space-sm);
}
.aps_card__captionE {
    color: var(--color-text);
    font-size: var(--font-xs);
    line-height: var(--line-xs);
}

/* Divider Line */
.aps_card__divider {
    width: 100%;
    height: 1px;
    border: none;
    border-top: 1px solid var(--color-border);
    opacity: 0.5;
    margin: var(--space-xl) 0 var(--space-xl) 0;
}   
/* Button */
.aps_btn--pill {
    gap: var(--space-xs);
	display: flex;
	align-items: center;
	width: 148px;
	height: 46px;
    padding: var(--space-md) var(--space-lg);
    background: var(--color-primary-blue);
    color: var(--color-white);
  	font-size: var(--font-xs);
	font-weight: var(--font-semibold);
    border-radius: var(--radius-sm);
    transition: var(--transition-base);
    white-space: nowrap;

}

.aps_btn--pill:hover {
    background: var(--color-primary-blue-hover);
    transform: translateY(-2px);
}
/* Slider Dots */
.aps-slider-dots {
    display: flex;
    justify-content: center;
}

.aps-slider-dots svg {
    cursor: pointer;
}

.aps-dot-circle {
    cursor: pointer;
    transition: var(--transition-base);
}

.aps-dot-inner {
    transition: opacity 0.3s ease;
}

.aps-dot-circle:hover {
    stroke: #8EA1E1;
}

/* Map Section */

.aps-map .aps-container {
    max-width: 100%;
    padding: 0;
}
.aps-map__container {
	
	overflow: hidden;

}

.aps-map__container iframe {
    display: block;
    width: 100%;	
    height: 500px;
    border: none;
}


/* Guide Section*/
.aps-guide{
	padding-top: var(--space-7xl);
	padding-bottom: var(--space-7xl);
}
.aps-guide__inner {
    text-align: center;
    margin-bottom: var(--space-4xl);
}



/* Guide Steps  */
.aps-guide__steps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-4xl);
}

/* Individual Step */
.aps-guide__step {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aps-guide__step-img {
    width: var(--space-5xl);
    height: var(--space-5xl);
	aspect-ratio: 1/1;
    margin-bottom: var(--space-2xl);
}

.aps-guide__step-title {
    font-size: var(--font-xl);
    font-weight: var(--font-bold);
    line-height: var(--line-lg);
    color: var(--color-primary);
    margin-bottom: var(--space-sm);
}


/* Blog Section */
.aps-blog {
  background: var(--color-bg-light);
  padding: var(--space-6xl) 0;
  height: 794px;
}

.aps-blog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--space-4xl);
}


.aps-blog__cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5 , auto);
  gap: var(--space-xl);
}
.aps-blog__card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-xs);
  flex: 1;
}
.aps-blog__card {
  width: 242px;
  height: 92px;
  padding: var(--space-md);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-lg);
  border-radius: var(--radius-md);
  background: var(--color-white);
  
}
.aps-blog__card-img {
  border-radius: var(--radius-md);
}
.aps-blog__card-title {
    color: var(--color-primary);
    text-align: center;
    font-size: var(--font-lg);
    font-style: bold;
    font-weight: var(--font-bold);
    line-height: var(--line-md);
}

.aps-blog__card-text {
    color: var(--color-text-muted);
    font-size: var(--font-xs);
    font-style: regular;
    font-weight: var(--font-regular);
    line-height: var(--line-xs); 
    cursor: pointer;
    transition: var(--transition-base);
}
.aps-blog__card-text:hover {
    color: var(--color-primary);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;

    
}

/* Partners Section */
.aps-partners {
    background: var(--color-white);
    padding: var(--space-7xl) 0;
}

.aps-partners__inner {
  display: flex;
  flex-direction: column;
  gap: var(--space-3xl);
}


.aps-partners__title {
  color: var(--color-primary);
text-align: center;
font-size: var(--font-3xl);
font-weight: var(--font-bold);
line-height: var(--line-2xl); 
}



.aps-partners__logos {
  display: flex;    
  justify-content: space-between;

  align-items: center;
  flex-wrap: wrap;
}

.aps-partners__logo {
    cursor: grabbing;
  height: 30px;
  width: auto;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  flex-shrink: 0;
}

.aps-partners__logo:hover {
  opacity: 1;
}

/* Footer Section */
.aps-footer {
    	width: 100%;
	z-index: 100;
    background-color: var(--color-bg-footer);
    color: var(--color-white);

    
}

.aps-footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: var(--space-5xl);
    padding-top: var(--space-6xl);
    
}


.aps-footer__contact-title {
    color: var(--color-white);
    font-size: var(--font-lg);
    font-style: normal;
    font-weight: var(--font-bold);
    line-height: var(--line-md);
    padding-top: var(--space-xl);

}
.aps-footer__contact-text {
    color: var(--color-border);
    font-size: var(--font-sm);
    font-weight: var(--font-regular);
    line-height: var(--line-sm);
    padding: var(--space-sm) 0;
}

.aps-footer__contact-address {
    max-width: 243px;
    color: var(--color-border);
    font-size: var(--font-sm);
    font-weight: var(--font-regular);
    line-height: var(--line-sm);
}
.aps-footer__col--newsletter {
    margin-left: auto;
    
}
.aps-footer__newsletter-content {
    width: 914px;
    height: 154px;
    display: flex;
    gap: var(--space-xl);
    background: rgba(255, 255, 255, 0.10);
    padding: var(--space-4xl) var(--space-3xl);
    border-radius: var(--radius-lg);


}
.aps-footer__newsletter-left {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    flex: 1;
    
}
.aps-footer__title {
    font-size: var(--font-2xl);
    font-weight: var(--font-bold);
    line-height: var(--line-xl);
    color: var(--color-white);

}
.aps-footer__subtitle {
    font-size: var(--font-sm);
    font-weight: var(--font-regular);
    line-height: var(--line-sm);
    color: var(--color-text-muted);
    }

    .aps-footer__form {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.10);
    border-radius: var(--radius-full);
    padding: 4px 4px 4px var(--space-xl);
    width: 400px;
    height: 56px;
    flex-shrink: 0;
    border: 1px solid var(--color-bg-overlay);
}

.aps-footer__input {
    font-family: "Roboto Serif";
    flex: 1;
    background: transparent;
    border: none;
    font-size: var(--font-xs);
    outline: none;
}

.aps-footer__input::placeholder {
    color: var(--color-white);
}

.aps-footer__submit {
    border: none;
    border-radius: var(--radius-lgg);
    cursor: pointer;
    transition: var(--transition-base);
    flex-shrink: 0;
}



.aps-footer__nav {
    padding-top: 32px;

}

.aps-footer__nav ul {
    
    display: flex;
    column-gap: var(--space-5xl); /* 60px */

}
.aps-footer__link {
    font-size: var(--font-xm);
    font-weight: var(--font-regular);
    line-height: var(--line-sm);
    color: var(--color-border);
    transition: var(--transition-base);
}

 .aps-footer__link:hover {
    color: var(--color-white);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
} 

.aps-footer__bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.10);
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.aps-footer__copyright {
    font-size: var(--font-xs);
    font-weight: var(--font-regular);
    line-height: var(--line-xs);
    color: var(--color-border); 
}
.aps-footer__legal {
    font-size: var(--font-xs);
    font-weight: var(--font-regular);
    line-height: var(--line-xs);
    color: var(--color-border); 
}
.aps-footer__legal-link:not(:last-child)::after { 
    content: "|"; 
    margin: 0 8px; 
     color: rgba(237, 232, 232, 0.3);
     opacity: 0.3;
 }